@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
  font-family:'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

}


body {
    background-image: url("../assests//background.png");
 
  }


